.register {
    width: 100%;
    height: 25px;
    border: 0;
    border-bottom: 1px solid black;
    background: #0a745bff;
    padding-left:5px;
    box-sizing: border-box;
    outline: none;
    color: white;
    
    &[type="submit"] {
        width:105px;
        height: 25px;
        border: 1px solid white;
        background: none;
        color: white;
        box-sizing: border-box;
        outline: none;
    }
    
    &::placeholder {
        color: #02b288ff;
    }
    &:focus {
        border-bottom: 1px solid white;
    }
}