.register {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#006950ff, #02b288ff);
    div{
        width: 80%;
        height: auto;
    }
}